@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

body {
  /* background-color: #f4f7f8; */
  background: #D8D8D8;
}

.my-navbar {
  background-color: #D8D8D8;
}

.logo {

  width:200px;
  height:40px;
}

.navbar {
  margin: 2rem 0 2.5rem 0;
}

.my-navbar {
  align-items: center;
  background: #D8D8D8;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;
}

.my-navbar-brand {
  font-size: 18px;
}

.my-navbar-brand,
.my-navbar-item {
  color: #8c8c8c;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: #ffffff;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
  white-space: nowrap;
  width: 1px;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;
}

.btn-danger {
}

.list-group-item.active {
    background-color: #D8D8D8;
    border: #E0F8F7;
  }

/* -------------------------------------------------------------------------- */

  .btn-flat-border2 {
    display: inline-block;
    padding: 0.3em 0.8em;
    margin: 10px 0 20px;

    text-decoration: none;
    color: #000;
    border: solid 2px #BDBDBD;
    border-radius: 3px;
    transition: .4s;
  }

  .btn-flat-border2:hover {
    background: #FF8000;
    color: white;
  }
