@charset "utf-8";

@media screen and (max-width: 700px) {
    /* 420pxまでの幅の場合に適応される */
    table {
        border-collapse: collapse;
        width: 365px;
    }
    table td,
    table th {
        display: block;
        border: none;
    }

    .content {
        /* min-width: 0; */
        margin: 0 auto;
        margin-top: 7rem;
        display: block;
    }
    .textlines {
        width: 60%;
    }
    .create_event {
        margin-left: 20px;
    }
    .name_width {
        margin: 0 auto;
        display: block;
    }
    .img_size {
        height: 200px;
    }
    .text_align_right {
        text-align: center;
    }
}
